/* basic settings */
html {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 801px) {
    html {
      font-size: 15px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 13px; } }

body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: 1rem;
  font-family: Arial, Helvetica, Sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ul {
  padding: 0;
  margin: 0; }

ul li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

p {
  padding: 0;
  margin: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* for one page website */
.wrapper {
  min-height: 100%;
  width: 100%; }

.empty {
  height: 30.625rem; }

.container {
  max-width: 84.375rem;
  width: 95%;
  margin: 0 auto;
  height: 100%; }

.header {
  background-color: #414141;
  height: 31.25rem; }
  .header:after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: 0.625rem solid transparent;
    -webkit-border-image: url("/assets/img/Border-BG.jpg") 35 round;
    -o-border-image: url("/assets/img/Border-BG.jpg") 35 round;
    border-image: url("/assets/img/Border-BG.jpg") 35 round;
    position: absolute;
    z-index: 10; }
  @media screen and (max-width: 801px) {
    .header {
      height: 43.75rem; } }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
  width: 100%; }
  @media screen and (max-width: 801px) {
    .header__top {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.header__top-left {
  padding: 1.25rem;
  width: 45%;
  text-align: right;
  margin: auto; }
  @media screen and (max-width: 801px) {
    .header__top-left {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      height: 70%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.header__img {
  max-width: 80%; }
  @media screen and (max-width: 801px) {
    .header__img {
      max-width: 100%; } }

.header__top-right {
  padding: 1.25rem;
  width: 55%; }
  @media screen and (max-width: 801px) {
    .header__top-right {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0.625rem;
      height: 30%; } }

.header__title-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%; }
  @media screen and (max-width: 801px) {
    .header__title-blok {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.title--header {
  max-width: 70%; }
  @media screen and (max-width: 801px) {
    .title--header {
      text-align: center;
      max-width: 100%; } }

.header__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 20%;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.main {
  background-color: #efefef; }

.desc__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 5rem;
  margin-bottom: 6.875rem; }
  @media screen and (max-width: 801px) {
    .desc__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-top: 1.25rem; } }

.desc__item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.625rem;
  position: relative;
  cursor: pointer; }
  @media screen and (max-width: 801px) {
    .desc__item {
      width: 50%;
      margin-top: 3.125rem; } }
  @media screen and (max-width: 480px) {
    .desc__item {
      width: 85%;
      margin-top: 3.125rem; } }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120%;
  width: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background-color: #ffffff;
  -webkit-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: 0.3125rem 0 0.3125rem #b5b5b5;
  box-shadow: 0.3125rem 0 0.3125rem #b5b5b5; }
  .overlay:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 2.5rem solid #ffffff;
    border-right: 2.5rem solid transparent;
    position: absolute;
    bottom: -2.5rem;
    position: absolute;
    z-index: 100;
    left: 0; }

.desc__item:hover .overlay {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 1.25rem 1.875rem 0.625rem #b5b5b5;
  box-shadow: 1.25rem 1.875rem 0.625rem #b5b5b5; }
  @media screen and (max-width: 801px) {
    .desc__item:hover .overlay {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0); } }

.desc__title {
  min-height: 3.125rem;
  text-align: center; }

.desc__text p {
  padding: 0.9375rem;
  text-align: center; }

.container--works {
  margin-bottom: 9.375rem; }

.works__title-block {
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #3f3f3f;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3.125rem; }

.section-title {
  font-size: 1.5rem;
  color: #3f3f3f;
  font-weight: 500;
  text-align: center; }
  .section-title_width {
    width: 20%; }
    .section-title_width_full {
      margin: 0 1.875rem; }

.border-img {
  border-bottom: 0.625rem solid transparent;
  -webkit-border-image: url("/assets/img/Border-BG.jpg") 35 round;
  -o-border-image: url("/assets/img/Border-BG.jpg") 35 round;
  border-image: url("/assets/img/Border-BG.jpg") 35 round;
  z-index: 10; }
  .border-img_width {
    width: 40%; }
    .border-img_width_full {
      width: 100%; }

.works__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6.25rem; }
  @media screen and (max-width: 801px) {
    .works__list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 3.125rem; } }

.works__item {
  width: 33.3%;
  margin-right: 0.9375rem;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  -webkit-box-shadow: 0.5rem 0 0.3125rem #b5b5b5;
  box-shadow: 0.5rem 0 0.3125rem #b5b5b5;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  @media screen and (max-width: 801px) {
    .works__item {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 0;
      margin-bottom: 5rem;
      padding: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .works__item {
      width: 100%;
      display: block; } }
  .works__item:last-child {
    margin-right: 0; }
  .works__item:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 2.5rem solid #ffffff;
    border-right: 2.5rem solid transparent;
    position: absolute;
    bottom: -2.5rem;
    position: absolute;
    z-index: 100;
    left: 0; }
    @media screen and (max-width: 801px) {
      .works__item:after {
        border-top: 3.125rem solid #ffffff;
        border-right: 3.125rem solid transparent;
        bottom: -3.125rem; } }
  .works__item:hover {
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    -webkit-box-shadow: 0.625rem 0.625rem 0.625rem 0.625rem #b5b5b5;
    box-shadow: 0.625rem 0.625rem 0.625rem 0.625rem #b5b5b5;
    z-index: 10; }
    @media screen and (max-width: 801px) {
      .works__item:hover {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); } }

.works__img {
  max-width: 100%; }
  @media screen and (max-width: 801px) {
    .works__img {
      width: 50%; } }
  @media screen and (max-width: 480px) {
    .works__img {
      width: 100%; } }

.works__text-block {
  padding: 0.9375rem;
  overflow: hidden; }
  @media screen and (max-width: 801px) {
    .works__text-block {
      padding-top: 0; } }

.title-content {
  margin-bottom: 0.9375rem;
  margin-left: 0.625rem;
  font-size: 1.25rem;
  color: black;
  font-weight: 700; }
  @media screen and (max-width: 480px) {
    .title-content {
      text-align: center; } }

.section--reviews-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 5.625rem; }
  @media screen and (max-width: 801px) {
    .section--reviews-dev {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.reviews {
  width: 65%;
  margin-right: 1.25rem; }
  @media screen and (max-width: 801px) {
    .reviews {
      width: 100%;
      margin-right: 0;
      margin-bottom: 6.25rem; } }

.dev {
  width: 35%; }
  @media screen and (max-width: 801px) {
    .dev {
      width: 100%; } }

.reviews__title-block {
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #3f3f3f;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3.125rem; }
  @media screen and (max-width: 801px) {
    .reviews__title-block {
      margin-bottom: 5rem; } }

.reviews__list {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 4.375rem 1.25rem; }
  @media screen and (max-width: 480px) {
    .reviews__list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 5rem; } }

.reviews__item {
  background-color: #ffffff;
  padding: 0.625rem 0.9375rem;
  position: relative;
  -webkit-box-shadow: 0.5rem 0 0.3125rem #b5b5b5;
  box-shadow: 0.5rem 0 0.3125rem #b5b5b5;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  cursor: pointer; }
  .reviews__item:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 2.5rem solid #ffffff;
    border-right: 2.5rem solid transparent;
    position: absolute;
    bottom: -2.5rem;
    position: absolute;
    z-index: 100;
    left: 0; }
  .reviews__item:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 110;
    -webkit-box-shadow: 1.25rem 1.875rem 0.625rem #b5b5b5;
    box-shadow: 1.25rem 1.875rem 0.625rem #b5b5b5; }
    @media screen and (max-width: 801px) {
      .reviews__item:hover {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }

.tabs__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625rem; }

.tabs__controls-item {
  padding: 0.5rem 0.9375rem;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: black;
  -webkit-box-shadow: 0.3125rem -0.0625rem 0.25rem #b5b5b5;
  box-shadow: 0.3125rem -0.0625rem 0.25rem #b5b5b5; }
  .tabs__controls-item:hover, .tabs__controls-item.active {
    background-color: #ffffff; }

.tabs__controls-link {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: 1.25rem; }

.tabs__list {
  background-color: #ffffff;
  -webkit-box-shadow: 0.3125rem 0 0.3125rem #b5b5b5;
  box-shadow: 0.3125rem 0 0.3125rem #b5b5b5; }
  .tabs__list h2 {
    padding: 0.625rem 0.625rem 0;
    font-weight: bold; }
  .tabs__list p {
    padding: 1.25rem 0rem; }

.tabs__item {
  display: none; }
  .tabs__item.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.25rem; }

.tabs__btn {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.footer {
  width: 100%;
  height: 30.625rem;
  margin-top: -30.625rem; }

.footer-top {
  min-height: 75%;
  background-color: #414141;
  padding: 3.4375rem 0; }

.footer-top__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1.25rem; }
  @media screen and (max-width: 801px) {
    .footer-top__list {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
      grid-gap: 2.5rem 1.875rem; } }
  @media screen and (max-width: 480px) {
    .footer-top__list {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-row-gap: 1.25rem; } }

.subtitle_footer {
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 801px) {
    .subtitle_footer {
      margin-bottom: 0.625rem; } }

.paragraph__top {
  margin-bottom: 1.25rem; }
  @media screen and (max-width: 801px) {
    .paragraph__top {
      margin-bottom: 0.3125rem; } }

.inner-footer__item::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 0.0625rem solid black; }

.inner-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.inner-footer__link {
  color: #b5b5b5;
  font-size: 1.25rem;
  font-family: 'Times New Roman', Times, serif;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }
  .inner-footer__link:hover {
    color: #4788c8; }

.inner-footer__text {
  padding: 0.625rem 0.625rem 0.4375rem; }
  @media screen and (max-width: 801px) {
    .inner-footer__text {
      padding: 0.3125rem 0.3125rem 0.1875rem; } }

.footer-bottom {
  height: 25%;
  background-color: #343434; }

.container--footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .container--footer-bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer-bottom__left, .footer-bottom__right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer-bottom__left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.footer-bottom__right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 0.625rem; }

.flicker__list {
  height: 50%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.3125rem; }
  @media screen and (max-width: 801px) {
    .flicker__list {
      height: 70%; } }

.flicker__item {
  background-color: #282828; }

.flicker__square {
  width: 100%;
  height: 100%;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s; }
  .flicker__square-1:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: salmon; }
  .flicker__square-2:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: seagreen; }
  .flicker__square-3:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: darkorange; }
  .flicker__square-4:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: darkgray; }
  .flicker__square-5:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: cornflowerblue; }
  .flicker__square-6:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: sienna; }
  .flicker__square-7:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: mediumvioletred; }
  .flicker__square-8:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: yellow; }

.shape-pointer {
  width: 100%;
  background-color: #4788c8;
  position: relative; }
  .shape-pointer:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 2.5rem solid #4788c8;
    border-right: 2.5rem solid transparent;
    position: absolute;
    top: 4.375rem;
    position: absolute;
    z-index: 100; }

.shape-pointer__container {
  padding: 0 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 4.375rem; }

.title {
  font-size: 1.75rem;
  text-transform: uppercase; }

.span {
  color: #ffffff;
  text-transform: uppercase; }
  .span_style_italic {
    font-family: Arial, Helvetica, Sans-serif;
    font-weight: 900;
    font-style: italic; }
  .span_style_bold {
    font-family: Arial, Helvetica, Sans-serif;
    font-weight: 900;
    font-style: normal; }
  .span_color_grey {
    color: #b5b5b5;
    font-family: Arial, Helvetica, Sans-serif;
    font-weight: 500;
    font-style: normal; }

.paragraph {
  color: #b5b5b5;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 900;
  font-style: normal; }
  .paragraph_padding_more {
    margin-bottom: 2.5rem; }
  @media screen and (max-width: 801px) {
    .paragraph {
      text-align: center; } }

.subtitle {
  font-size: 1.25rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center; }
  .subtitle_banner {
    width: 50%; }
    @media screen and (max-width: 801px) {
      .subtitle_banner {
        width: 57%; } }
    @media screen and (max-width: 801px) {
      .subtitle_banner {
        width: 50%; } }

.btn {
  text-transform: uppercase;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 900;
  font-style: normal;
  padding: 0.875rem 1.75rem;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .btn_color_blue {
    background-color: #4788c8;
    color: #ffffff; }
    .btn_color_blue:hover {
      color: #4788c8;
      background-color: #ffffff; }
  .btn_color_grey {
    background-color: #e4e4ee;
    color: #414141; }
    .btn_color_grey:hover {
      color: #e4e4ee;
      background-color: #414141; }
  .btn_border-radius {
    border-radius: 0.9375rem; }
    .btn_border-radius:hover {
      background-color: #4f4d4e;
      color: #ffffff; }

.social-icon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social-icon__item {
  margin-left: 0.9375rem; }

.social-icon__img {
  fill: #b5b5b5;
  width: 2rem;
  height: 3rem;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s; }
  .social-icon__img:hover {
    fill: #ffffff; }

.desc__img-pic {
  width: 2.5rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4f4d4e;
  padding: 0.625rem;
  border-radius: 50%;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem; }
  .desc__img-pic_color-size {
    width: 5rem;
    height: 5rem;
    background-color: #4788c8; }

.content-icon__img {
  fill: #ffffff; }

.desc__title {
  text-transform: uppercase;
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 900;
  font-style: normal;
  color: #4f4d4e; }

.desc__title-span {
  font-family: Arial, Helvetica, Sans-serif;
  font-weight: 500;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */