.main {
  background-color: $section-bg;
}

// desc-section
.desc__list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: rem(80px);
  margin-bottom: rem(110px);

  @include tablets() {
    flex-wrap: wrap;
    padding-top: rem(20px);
  }
}

.desc__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: rem(10px);
  position: relative;
  cursor: pointer;

  @include tablets() {
   width: 50%;
   margin-top: rem(50px);
  }

  @include phones() {
   width: 85%;
   margin-top: rem(50px);
  }
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 120%;
  width: 100%;
  transform: scale(0);
  background-color: $white;
  transition: .7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rem(5px) 0 rem(5px) $grey;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: rem(40px) solid $white;
    border-right: rem(40px) solid transparent;
    position: absolute;
    bottom: rem(-40px);
    position: absolute;
    z-index: 100;
    left: 0;
  }
}

.desc__item:hover .overlay {
  transform: scale(.9);
  box-shadow: rem(20px) rem(30px) rem(10px) $grey;

  @include tablets() {
    transform: scale(0);
  }
}

.desc__title {
  min-height: rem(50px);
  text-align: center;
}

.desc__text p{
  padding: rem(15px);
  text-align: center;
}

// works-section
.container--works{
  margin-bottom: rem(150px);
}

.works__title-block {
  @include arial(bold, normal);
  color: #3f3f3f;
  font-size: rem(24px);
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: rem(50px);
}

.section-title {
  font-size: rem(24px);
  color: #3f3f3f;
  font-weight: 500;
  text-align: center;

  &_width {
    width: 20%;

    &_full {
      margin: 0 rem(30px);
    }
  }
}

.border-img {
  border-bottom: rem(10px) solid transparent;
  border-image: url('/assets/img/Border-BG.jpg') 35 round;
  z-index: 10;

  &_width {
    width: 40%;

    &_full {
      width: 100%;
    }
  }
}

.works__list {
  width: 100%;
  display: flex;
  margin-bottom: rem(100px);

  @include tablets() {
    flex-wrap: wrap;
    margin-bottom: rem(50px);
  }
}

.works__item {
  width: 33.3%;
  margin-right: rem(15px);
  cursor: pointer;
  position: relative;
  background-color: $white;
  box-shadow: rem(8px) 0 rem(5px) $grey;
  transition: all .5s ease;

  @include tablets() {
    width: 100%;
    display: flex;
    margin-right: 0;
    margin-bottom: rem(80px);
    padding: rem(20px);
  }

  @include phones() {
    width: 100%;
    display: block;
  }

  &:last-child {
    margin-right: 0;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: rem(40px) solid $white;
    border-right: rem(40px) solid transparent;
    position: absolute;
    bottom: rem(-40px);
    position: absolute;
    z-index: 100;
    left: 0;

    @include tablets() {
      border-top: rem(50px) solid $white;
      border-right: rem(50px) solid transparent;
      bottom: rem(-50px);
    }
  }

  &:hover {
    transform: rotate(-20deg);
    box-shadow: rem(10px) rem(10px) rem(10px) rem(10px) $grey;
    z-index: 10;

    @include tablets() {
      transform: rotate(0deg);
    }
  }
}

.works__img {
  max-width: 100%;

  @include tablets() {
    width: 50%;
  }

  @include phones() {
    width: 100%;
  }
}

.works__text-block {
  padding: rem(15px);
  overflow: hidden;

  @include tablets() {
    padding-top: 0;
  }
}

.title-content {
  margin-bottom: rem(15px);
  margin-left: rem(10px);
  font-size: rem(20px);
  color: black;
  font-weight: 700;

  @include phones() {
    text-align: center;
  }
}

// rewievs-section
.section--reviews-dev {
  display: flex;
  width: 100%;
  margin-bottom: rem(90px);

  @include tablets() {
    flex-direction: column;
    align-items: center;
  }
}

.reviews {
  width: 65%;
  margin-right: rem(20px);

  @include tablets() {
    width: 100%;
    margin-right: 0;
    margin-bottom: rem(100px);
  }

}

.dev {
  width: 35%;

  @include tablets() {
    width: 100%;
  }
}

.reviews__title-block {
  @include arial(bold, normal);
  color: #3f3f3f;
  font-size: rem(24px);
  display: flex;
  align-items: center;
  margin-bottom: rem(50px);

  @include tablets() {
    margin-bottom: rem(80px);
  }
}

.reviews__list {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: rem(70px) rem(20px);


  @include phones() {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: rem(80px);;
  }
}

.reviews__item {
  background-color: $white;
  padding: rem(10px) rem(15px);
  position: relative;
  box-shadow: rem(8px) 0 rem(5px) $grey;
  transition: all .5s;
  cursor: pointer;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: rem(40px) solid $white;
    border-right: rem(40px) solid transparent;
    position: absolute;
    bottom: rem(-40px);
    position: absolute;
    z-index: 100;
    left: 0;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 110;
    box-shadow: rem(20px) rem(30px) rem(10px) $grey;

    @include tablets() {
      transform: scale(1);
    }
  }
}

// tabs

.tabs__controls {
  display: flex;
  margin-top: rem(10px);
}

.tabs__controls-item {
  padding: rem(8px) rem(15px);
  transition: .3s;
  color: black;
  box-shadow: rem(5px) rem(-1px) rem(4px) #b5b5b5;

  &:hover , &.active {
    background-color: $white;
  }
}

.tabs__controls-link {
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  font-size: rem(20px);
}

.tabs__list {
  background-color: $white;
  box-shadow: rem(5px) 0 rem(5px) $grey;

  h2 {
    padding: rem(10px) rem(10px) 0;
    font-weight: bold;
  }

  p {
    padding: rem(20px) rem(0px);
  }
}

.tabs__item {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;
    padding: rem(20px);
  }
}

.tabs__btn {
  align-self: flex-end;
}









 


