.footer {
  width: 100%;
  height: rem(490px);
  margin-top: rem(-490px);
}

.footer-top {
  min-height: 75%;
  background-color: $light-black;
  padding: rem(55px) 0;
}

.footer-top__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: rem(20px);

  @include tablets() {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: rem(40px) rem(30px);
  }

  @include phones() {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: rem(20px);
  }
}

.subtitle_footer {
  margin-bottom: rem(20px);

  @include tablets() {
    margin-bottom: rem(10px);
  }
}

.paragraph__top {
  margin-bottom: rem(20px);

  @include tablets() {
    margin-bottom: rem(5px);
  }
}

.inner-footer__item::after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: rem(1px) solid black;
}

.inner-footer__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inner-footer__link {
  color: $grey;
  font-size: rem(20px);
  font-family: 'Times New Roman', Times, serif;
  transition: all .5s;

  &:hover {
    color: #4788c8;;
  }
}

.inner-footer__text {
  padding: rem(10px) rem(10px) rem(7px);

  @include tablets() {
    padding: rem(5px) rem(5px) rem(3px);
  }
}

.footer-bottom {
  height: 25%;
  background-color: $medium-black;
}

.container--footer-bottom {
  display: flex;

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-bottom__left, .footer-bottom__right {
  width: 50%;
  display: flex;
  align-items: center;
}

.footer-bottom__left {
  justify-content: flex-start;
}

.footer-bottom__right {
  justify-content: flex-end;
  padding-right: rem(10px);
}

.flicker__list {
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: rem(5px);

  @include tablets() {
    height: 70%;
  }
}

.flicker__item {
  background-color: $black;
}

.flicker__square {
  width: 100%;
  height: 100%;
  transition: all .7s;

  &-1:hover {
    // transform: scale(1.3);
    transform: rotate(360deg);
    background-color: salmon;
  }
  &-2:hover {
    transform: rotate(360deg);
    background-color: seagreen; 
  }
  &-3:hover {
    transform: rotate(360deg);
    background-color: darkorange;;
  }
  &-4:hover {
    transform: rotate(360deg);
    background-color: darkgray;;
  }
  &-5:hover {
    transform: rotate(360deg);
    background-color: cornflowerblue;;
  }
  &-6:hover {
    transform: rotate(360deg);
    background-color: sienna;;
  }
  &-7:hover {
    transform: rotate(360deg);
    background-color: mediumvioletred;;
  }
  &-8:hover {
    transform: rotate(360deg);
    background-color: yellow;;
  }
}
