.header {
  background-color: $light-black;
  height: rem(500px);

  &:after {
    content: '';
    display: block;
    width: 100%;
    border-bottom: rem(10px) solid transparent;
    border-image: url('/assets/img/Border-BG.jpg') 35 round;
    position: absolute;
    z-index: 10;
  }

  @include tablets() {
    height: rem(700px);
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__top {
  display: flex;
  height: 80%;
  width: 100%;

  @include tablets() {
    flex-direction: column;
  }
}

.header__top-left {
  padding: rem(20px);
  width: 45%;
  text-align: right;
  margin: auto;

  @include tablets() {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    height: 70%;
    display: flex;
    align-items: center;
  }
}

.header__img {
  max-width: 80%;

  @include tablets() {
    max-width: 100%;
  }
}

.header__top-right {
  padding: rem(20px);
  width: 55%;

  @include tablets() {
    width: 100%;
    display: flex;
    padding: rem(10px);
    height: 30%;
  }
}

.header__title-blok {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;

  @include tablets() {
    align-items: center;
  }
}

.title--header {
  max-width: 70%;

  @include tablets() {
    text-align: center;
    max-width: 100%;
  }
}

.header__bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 20%;
  align-items: flex-end;
}
