/* basic settings */
html {
  width: 100%;
  height: 100%;

  @include tablets {
    font-size: 15px;
  }

  @include phones {
    font-size: 13px;
  }
}

body {
  width: 100%;
  height: 100%;
  line-height: 1.42;
  font-size: rem(16px);
  font-family: Arial, Helvetica, Sans-serif;
  /* to smooth fonts */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* for one page website */

// .section {
//   height: 100vh;
//   min-height: rem(0px);
// }
