.btn {
  text-transform: uppercase;
  @include arial(bold, normal);
  padding: rem(14px) rem(28px);
  transition: all .4s;

  &_color {

    &_blue {
      background-color: $blue;
      color: $white;

      &:hover {
        color: $blue;
        background-color: $white;
      }
    }

    &_grey {
      background-color: #e4e4ee;
      color: $light-black;

      &:hover {
        color: #e4e4ee;
        background-color: $light-black;
      }
    }
  }

  &_border-radius {
    border-radius: rem(15px);

    &:hover {
      background-color: #4f4d4e;
      color: $white;
    }
  }
}