// social-icons
.social-icon__list {
  display: flex;
}

.social-icon__item {
  margin-left: rem(15px);
}

.social-icon__img {
  fill:#b5b5b5;
  width: rem(32px);
  height: rem(48px);
  transition: all .4s;

  &:hover {
    fill: $white;
  }
}

// content-icons
.desc__img-pic {
  width: rem(40px);
  height: rem(40px);
  display: flex;
  background-color: #4f4d4e;
  padding: rem(10px);
  border-radius: 50%;
  margin-bottom: rem(20px);
  margin-top: rem(20px);

  &_color-size {
    width: rem(80px);
    height: rem(80px);
    background-color: $blue;
  }
}

.content-icon__img {
  fill: $white;
}