.shape-pointer {
  width: 100%;
  background-color: $blue;
  position: relative;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: rem(40px) solid $blue;
    border-right: rem(40px) solid transparent;
    position: absolute;
    top: rem(70px);
    position: absolute;
    z-index: 100;
  }
}

.shape-pointer__container {
  padding: 0 rem(40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: rem(70px);
}