.social-icon__list {
  display: flex;
}

.social-icon__item {
  margin-left: 15px;
}

.social-icon__img {
  fill:#b5b5b5;
  width: 32px;
  height: 48px;
  transition: all .4s;

  &:hover {
    fill: $white;
  }
}