.title {
  font-size: 28px;
  text-transform: uppercase;
}

.span {
  color: $white;
  text-transform: uppercase;

  &_style {

    &_italic {
      @include arial(bold, italic);
    }

    &_bold {
      @include arial(bold, normal);
    }
  }

  &_color {

    &_grey {
      color: $grey;
      @include arial(medium, normal);
    }
  }
}

